@font-face {
  font-family: "Apple_Gothic_Neo_ULight";
  src: url("../../../fonts/AppleSDGothicNeoUL.ttf");
}

.font {
  font-size: 22px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-bottom: 0;;
  border-bottom: 1px solid rgb(211, 211, 211);
  position: relative;
}

.font span {
  font-size: 18px;
  font-family: "Apple_Gothic_Neo_ULight";
  font-weight: 500;
  color: rgb(156, 156, 156);
  margin-left: 5px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: height 0.35s ease-in-out;
  overflow: hidden;
}

.details.off {
  height: 0px;
}

.details p {
  display: inline-block;
  padding: 10px;
  color: gray;
  transition: all .15s;
}

.details p:hover {
  color: black;
  cursor: pointer;
}

.font .toggleButton1, .font .toggleButton2 {
  display: inline-block;
  background-image: url('../../../assets/minus.png');
  background-size: cover;
  margin: 0;
  width: 38px;
  height: 38px;
  position: absolute;
  top: -4.5px;
  right: 10px;
  transition: all .35s;
}

.toggleButton2 {
  transform: rotate(90deg);
}

.toggleButton1.off {
  transform: rotate(135deg);
}

.toggleButton2.off {
  transform: rotate(-135deg);
}