@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@font-face {
    font-family: "Apple_Gothic_Neo_Hard";
    src: url("../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_Bold";
    src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_SB";
    src: url("../../fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_Light";
    src: url("../../fonts/AppleSDGothicNeoL.ttf");
}


.PageName {
    font-family: "Apple_Gothic_Neo_SBold";
    margin-bottom: -5px;
    font-size: 35px;
    cursor: pointer;
    cursor: pointer;
}

/* 사이드 메뉴 부분 */
.SideMenuBox {
    width: 200px;
    height: 400px;
    margin-top: 25px;
    margin-right: 70px;
    margin-left: -15px;
}

/* 사이드 메뉴 */
.SideMenu {
    font-family: "Apple_Gothic_Neo_Light";
    text-align: left;
    font-size: 26.5px;
    padding-top: 5px;
    margin-bottom: 0;
    cursor: pointer;
}


/* 사이드 메뉴 디테일 */
.SideMenuDetail {
    display: inline-block;
    font-family: "Apple_Gothic_Neo_Light";
    font-size: 22px;
    text-align: left;
    color: rgba(139, 139, 139, 0.778);
    margin-bottom: -10px;
    cursor: pointer;
    transition: all .15s;
    margin-right: 60px;
}

.SideMenuDetailTwo{
    display: inline-block;
    font-family: "Apple_Gothic_Neo_SBold";
    font-size: 22px;
    text-align: left;
    color: black;
    margin-bottom: -10px;
    cursor: pointer;
    transition: all .15s;
    margin-right: 60px;
}

.SideMenuDetail:hover {
    color: black;
}