@font-face {
  font-family: "Apple_Gothic_Neo_Hard";
  src: url("../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

.background {
  width: 100%;
  height: 92vh;
  background: rgb(255,206,206);
  background: linear-gradient(90deg, rgba(190,187,240,1) 0%, rgba(255,191,244,1) 38%, rgba(245,210,200,1) 100%);
  transition: all .5s;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding-top: 150px;
  position: relative;
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0s;
  transition: background .5s ease;
}

.background.off {
  opacity: 0;
}

.words {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: all .5s;
}

.words.off {
  opacity: 0;
}

.h1 {
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 50px;
  margin-bottom: 0;
  color: white;
}

.p {
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 27px;
  color: white;
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  margin: 0 auto;
}

.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: -100%;
  transition: all .5s;
}

.box.off {
  margin-right: 0;
  margin-left: -100%;
}

.box.on {
  margin-right: 0;
}

.box img {
  width: 50%;
  margin-right: 10px;
}

.box button {
  margin-top: 12px;
  border: 2px solid rgb(97, 97, 97);
  color: rgb(97, 97, 97);
  padding: 0.53em 2em 0.48em;
  border-radius: 12px;
  background-color: transparent;
  font-size: 16px;
  font-family: "Apple_Gothic_Neo_Light";
  font-weight: 700;
  transition: all .15s;
}

.box button:hover {
  cursor: pointer;
  border: 2px solid black;
  color: black;
}

.container div:nth-of-type(2) .p {
  margin-bottom: 10px;
}

.container div:nth-of-type(2) .subP {
  margin: 3px;
  color: white;
  font-family: "Apple_Gothic_Neo_Middle";
  font-size: 20px;
  width: 40%;
  margin-left: 11%;
}

.container div:nth-of-type(2) .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-top: 20px;
}

.container div:nth-of-type(2) .image-container img {
  width: auto;
  height: 100%;
  margin: 0;
  border-radius: 15px;
}

.container div:nth-of-type(2) input {
  display: none;
}

.btn-upload {
  margin-top: 20px;
  border: 2px solid rgb(97, 97, 97);
  color: rgb(97, 97, 97);
  padding: 10px 15px 9px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 16px;
  font-family: "Apple_Gothic_Neo_Middle";
  transition: all .15s;
}

.btn-upload:hover {
  cursor: pointer;
  border: 2px solid black;
  color: black;
}

.checkStart {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 20px;
  margin-top: 50px;
}

.checkStart:hover {
  cursor: pointer;
}

.container div:nth-of-type(3) {
  margin-top: 10%;
}

.container div:nth-of-type(3) img {
  width: 250px;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 50px;
}

.btn-box {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.btn-box button {
  background-color: white;
}

.container div:nth-of-type(4) {
  height: 100%;
}

.container div:nth-of-type(4) .h1 {
  margin-top: -150px;
  font-size: 65px;
}

.container div:nth-of-type(4) .p {
  color: rgb(32, 32, 32);
}

.container div:nth-of-type(4) .p:hover {
  cursor: pointer;
}