@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.loading-pic{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
}

.loading-pic img{
  width: 200px;
  height: auto;
  margin: 5%;
}

.loading-pic img.loading-rotating-pic{
  width: 120px;
  height: auto;
  margin: 5%;
  /* transition: transform 10s;
  transform: rotate(740deg); */
  animation: rotate_image 10s linear infinite;
}

@keyframes rotate_image{
  100%{
    transform: rotate(360deg)
  }
}

.loading-text h1{
  font-family: "Apple_Gothic_Neo_Bold";
  text-align: center;
}

.h1-1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.h1-2 {
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 19px;
  font-weight: 300;
  margin-top: 0px;
}