@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@font-face {
    font-family: "Apple_Gothic_Neo_Hard";
    src: url("../../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_Bold";
    src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_SB";
    src: url("../../../fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_Light";
    src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

.ProfilePage {
    display: flex;
    justify-content: center;
}

.ProfileMainBox {
    margin-top: 100px;
}

.ProfileName {
    font-family: "Apple_Gothic_Neo_SB";
    font-size: 27px;

}

.hr {
    border-bottom: solid 5px black;
    border-top: 0;
    padding: 0;
    border-radius: 2.5px;
    margin-bottom: 30px;
    width: 900px;
}

.ImgTextBox {
    display: flex;
}

.consultantman {
    width: 100px;
    margin-left: 30px;
    margin-top: -20px;
}

.consultantWoman {
    width: 80px;
    margin-left: 30px;
    margin-top: -30px;
}

.consultantName{
    font-family: "Apple_Gothic_Neo_Bold";
    font-size: 23px;
    margin-left: 40px;
    margin-top: 20px;
}

.userType{
    font-family: "Apple_Gothic_Neo_SBold";
    font-size: 20px;
    margin-left: 40px;
    color: #555555;
    margin-top: -15px;
    
}


.hrgrey {
    border-bottom: solid 3.5px lightgrey;
    border-top: 0;
    padding: 0;
    border-radius: 2.5px;
    margin-bottom: 30px;
    width: 900px;
    margin-top: 0px;
}