// cocker-compose.yml
version: "3.7"

services:
  sample:
    container_name: react-dockerize
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ".:/app"
      - "/app/node_modules"
    ports:
      - "8081:8081"
    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true