@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Middle";
  src: url("../../../../fonts/AppleSDGothicNeoM.ttf");
}

.consultant-list {
  display: flex;
  border-bottom: 1px solid rgb(211, 211, 211);
  padding: 0 0px 10px 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.consultant {
  font-family: "Apple_Gothic_Neo_Middle";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-display {
  display: flex;
  align-items: flex-end;
  margin-right: 5px;
}

.button,
.button-unable {
  border-radius: 5px;
  background-color: white;
  border: none; 
  padding-top: 3px;
  box-sizing: border-box;
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 16px;
  transition: all 0.15s;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(202, 202, 202);
  color: white;
}
