@font-face {
  font-family: "Apple_Gothic_Neo_Hard";
  src: url("../../fonts/AppleSDGothicNeoH.ttf");
}


@font-face {
  font-family: "SF_Pro";
  src: url("../../fonts/SF-Pro-Display-Regular.otf");
}

.container {
  top: 50%;
  left: 50%;
  width: 60%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "SF_Pro";
  text-align: center;  
}