.bottom{
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}
.bottom img {
  width: 40px;
}
.bottom p{
  font-size: 20px;
}

.LinkBottom{
  text-decoration-line: none;
  margin-left: 30px;
  color: black;
  
}