@font-face {
  font-family: "SF";
  src: url("../../fonts/SF-Pro-Display-Regular.otf");
}

.main {
  font-family: "SF";
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 2.5% 0 2.5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.header img {
  width: 100px;
}

.header img:hover {
  cursor: pointer;
}

.header .box {
  display: block;
  height: 100%;
}
