@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');
@font-face {
  font-family: "Apple_Gothic_Neo_Hard";
  src: url("../../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_SBold";
    src: url("../../../fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: "SF_Pro";
  src: url("../../../fonts/SF-Pro-Display-Regular.otf");
}

.AuthBox{
  top: 50%;
  left: 50%;
  height: auto;
  width: 340px;
  margin: 0 auto;
  height : calc(var(--vh, 1vh) * 100 - 445px);
  font-family: "SF_Pro";
}
.AuthTitle{
  padding-bottom: 10px;
  text-align: center;
  font-size: 35px;
  font-style: italic;
  font-weight: bolder;
  /* border-bottom: 2px solid black; */
}
.AuthBody{
  align-items: center;
  text-align: center;
}


.PageName{
  font-family: "Apple_Gothic_Neo_SBold";
  font-size: 37px;
  margin-top: 115px;
}

.PasswordChangeBtn {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 15px;
  width: 310px;
  height: 45px;
  border: none;
  border-radius: 1px;
  background-color: #d4d4d44d;
  border-radius: 5px;
  margin-left: 10px;
}