@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
@font-face {
  font-family: "Apple_Gothic_Neo_Hard";
  src: url("../../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Mid";
  src: url("../../../fonts/AppleSDGothicNeoM.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_SBold";
  src: url("../../../fonts/AppleSDGothicNeoSB.ttf");
}

.PageName {
  font-family: "Apple_Gothic_Neo_SBold";
  font-size: 37px;
  margin-top: 115px;
}

.SetNewPasswordBtn {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 15px;
  width: 310px;
  height: 45px;
  border: none;
  border-radius: 1px;
  background-color: rgba(211, 211, 211, 0.3);
  border-radius: 5px;
  margin-left: 10px;
}
