@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@font-face {
  font-family: "Apple_Gothic_Neo_Hard";
  src: url("../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_SB";
  src: url("../../fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}


.WrapMyPage{
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

/* 마이페이지 이름 */
.PageName{
  font-family: "Apple_Gothic_Neo_SBold";
  margin-bottom: -5px;
  font-size: 28px;
}

/* 사이드 메뉴 부분 */
.SideMenuBox{
  width: 200px;
  height: 400px;
  margin-top: -15px;
  
}

/* 사이드 메뉴 */
.SideMenu{
  font-family: "Apple_Gothic_Neo_Light";
  text-align: left;
  font-size: 21px;
  padding-top: 5px;
  margin-bottom: 15px;
}


/* 사이드 메뉴 디테일 */
.SideMenuDetail{
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 17.5px;
  text-align: left;
  color: rgb(120, 120, 120);
  margin-bottom: -10px;
  
}

/* 중앙 메인 박스 */
.MainBox{
  float: left;
  height: 100px;
  margin-top: -10px;
  
}

.MainLabel{
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 23px;
  color: rgb(43, 43, 43);
  margin-top: 15px;
}


.MyInformBox{

}

.MyInformBackground{
  width: 850px;
  height: 135px;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 20px;
  margin-top: -10px;
  margin-bottom: 50px;
}

.MyInformUserCircle {
  float: left;
  width: 110px;
  height: 110px;
  border: 2px solid #4b8adc70;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 15px;

  font-family: "Apple_Gothic_Neo_Hard";
  font-size: 30px;
  text-align: center;
  line-height: 110px;
  color: #4B89DC;

}

.MyInformLetter{
  float: left;
  width: 500px;
  /* margin-top: 5px; */
  margin-left: 30px;

}

.MyInformLetterTwo {
  float: left;
  width: 500px;
  margin-left: 30px;

}

.MyInformNickName{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 19px;
  float: left;
  
  
}

.MyInformNickNameHi{
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 18px;
  float: left;
  
}

.MyInformID{
  margin-top: 7px;
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 17px;
  margin-top: -14px;
}

.MyInformEmail{
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 17px;
  margin-top: -19px;
  height: 1px;
  
}


.MyInformBtn{
  font-family: "Apple_Gothic_Neo_Light";
  /* margin-left: -85px; */
  margin-top: 12px;
  border: none;
  width: 100px;
  height: 25px;
  border-radius: 5px;
  
}

.MyInformBtn:hover{
  font-family: "Apple_Gothic_Neo_Mid";
}


.MyBodyDataBox{
 padding-top: 10px;
}

.StyleCheckBtn {
  font-family: "Apple_Gothic_Neo_Mid";
  color: rgb(97, 97, 97);
  width: 130px;
  float: right;
  margin-top: 30px;
  text-align: right;
  margin-right: 15px;
  
}

.StyleCheckBtn:hover{
  color: black;
  font-family: "Apple_Gothic_Neo_Bold";
}

.MyBodyBackground {
  width: 850px;
  height: 100px;
  background-color: rgba(227, 227, 227, 0.327);
  border-radius: 20px;
  margin-bottom: 35px;
  display: flex;
  justify-content: left;
}

.MyBodyItemBox{
  width: 70px;
  margin-left: 40px;
  text-align: center;
  margin-right: 13px;
  
}

.MyBodyItemLabel{
  font-family: "Apple_Gothic_Neo_SBold";
  font-size: 17px;
  color: rgb(39, 39, 39);
}



.MyBodyItemDap{
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 17px;
  margin-top: 12px;
  color: rgb(81, 81, 81);
}

.vLine{
  border-left: 2px solid lightgrey;
  height: 60px;
  margin-left: 35px;
  margin-top: 20px;
}

.WishItemBox {
  padding-top: 20px ;
}

.WarpAllItem {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}

.CartItemDiv {
  font-family: "Apple_Gothic_Neo_Light";
  width: 230px;
  cursor: pointer;
}



