@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@font-face {
    font-family: "Apple_Gothic_Neo_Hard";
    src: url("../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_Bold";
    src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_SB";
    src: url("../../fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_Light";
    src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

.WrapMyPage {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.WishPageName{
    font-family: "Apple_Gothic_Neo_SBold";
    font-size: 25px;
    margin-top: 15px;

}

.WishBox{
    width: 900px;
}

.hr{
    border-bottom: solid 5px black;
    border-top: 0;
    padding: 0;
    border-radius: 2.5px;
}


.ul {
    list-style: none;
    padding-left: 0px;
    font-family: "Apple_Gothic_Neo_Light";
    margin: 0;
}

.ul li:hover {
    cursor: pointer;
}