@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@font-face {
  font-family: "Apple_Gothic_Neo_Hard";
  src: url("../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_SB";
  src: url("../../fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}


.MyPage{
  text-align: center;
  
  
}

.PageName{
  font-family: "Apple_Gothic_Neo_SBold";
  font-size: 37px;
}

.UserBox{
  width: 680px;
  height: 150px;
  border: 1.5px solid rgb(200, 200, 200);
  border-radius: 20px;
  margin: auto;
  
  
}

.UserCircle{
  float: left;
  width: 120px;
  height: 120px;
  border: 2px solid #4b8adc70;
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 15px;

  font-family: "Apple_Gothic_Neo_Hard";
  font-size: 30px;
  text-align: center;
  line-height: 120px;
  color: #4B89DC;
   
}

.userNicknameBox{
  float: left;
  width: 500px;
  margin-top: 25px;
  margin-left: 30px;
    
  
}

.UserDataBox {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 20px;
  float: left;
}

.UserDataBoxHi{
  font-family: "Apple_Gothic_Neo_Light";
  float: left;
  font-size: 16px;
  
}

.UserData{
  float: left;
}

.userId{
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 18px;
  float: left;
  margin-top: -5px;
  
}

.userEmail{
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 18px;
  
  
}

.UserBtn{
  font-family: "Apple_Gothic_Neo_Light";
  float: left;
  margin-top: 10px;
  border: none;
  width: 100px;
  height: 25px;
  border-radius: 5px;

}

.MyDataBox{
  width: 670px;
  margin: auto;
  
}

.MyDataLabel{
  font-family: "Apple_Gothic_Neo_Bold";
  float: left;
  font-size: 20px;
  margin-left: 5px;
}

.MyBodyBox{
  width: 670px;
  height: 100px;
  background-color: rgba(227, 227, 227, 0.327);
  border-radius: 20px;
  margin: auto;
}

