@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@font-face {
  font-family: "Apple_Gothic_Neo_Hard";
  src: url("../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_SB";
  src: url("../../fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

.MarginBox{
  margin-top: 100px;
}

.WrapMyPage{
  display: flex;
  justify-content: center;
  width: 1440px;
  margin: 0 auto;
}


.userImge{
  width: 75px;
  margin-top: -28px;
  margin-left: 10px;
  transform: scaleX(-1);
}

.userImgetwo{
  width: 120px;
  margin-top: -28px;
  margin-left: 7px;
}

/* 중앙 메인 박스 */
.MainBox{
  float: left;
  height: 100px;
  margin-top: -10px;
  
}

.MainLabel{
  font-family: "Apple_Gothic_Neo_SBold";
  font-size: 25px;
  color: rgb(43, 43, 43);
  margin-top: 25px;
}


.MyInformBox{

}

.MyInformBackground{
  width: 900px;
  height: 135px;
  border: 2px solid rgb(213, 213, 213);
  border-radius: 20px;
  margin-top: -10px;
  margin-bottom: 50px;
}

.MyInformUserCircle {
  float: left;
  width: 110px;
  height: 110px;
  /* border: 2px solid lightgrey; */
  border-radius: 100px;
  margin-top: 10px;
  margin-left: 15px;

  font-size: 30px;
  text-align: center;
  line-height: 110px;

}

.MyInformLetter{
  float: left;
  width: 500px;
  margin-top: 5px;
  margin-left: 30px;

}

.MyInformLetterTwo {
  float: left;
  width: 500px;
  margin-left: 30px;

}

.MyInformNickName{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 19px;
  float: left;
  
  
}

.MyInformNickNameHi{
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 18px;
  float: left;
  
}

.MyInformID{
  margin-top: 7px;
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 17px;
  margin-top: -14px;
}

.MyInformEmail{
  font-family: "Apple_Gothic_Neo_Light";
  font-size: 17px;
  margin-top: -17px;
  height: 1px;
  
}


.MyInformBtn{
  font-family: "Apple_Gothic_Neo_SBold";
  /* margin-left: -85px; */
  margin-top: 18px;
  border: none;
  width: 100px;
  height: 29px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 5px;
  transition: all .15s;
  padding-top: 3px;
  font-size: 14px;
}

.MyInformBtn:hover{
  font-weight: 600;
  color: rgb(26, 26, 26);
  transition: all .15s;
}



.MyInformBtntwo{
  font-family: "Apple_Gothic_Neo_SBold";
  font-size: 14px;
  /* margin-left: -85px; */
  margin-top: 18px;
  border: none;
  width: 100px;
  height: 27px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: -3px;
  transition: all .15s;
  padding-top: 3px;
  
}

.MyInformBtntwo:hover{
  color: black;
  font-weight: bolder;
  transition: all .15s;
  font-weight: 600;
  color: rgb(26, 26, 26);
  
}


.MyBodyDataBox{
 padding-top: 10px;
}

.StyleCheckBtn {
  font-family: "Apple_Gothic_Neo_Mid";
  color: rgb(97, 97, 97);
  width: 90px;
  float: right;
  margin-top: 35px;
  text-align: right;
  margin-right: 15px;
  cursor: pointer;
  transition: all .15s;
  
}

.StyleCheckBtn:hover{
  color: black;
  font-family: "Apple_Gothic_Neo_Bold";
  transition: all .15s;
}

.ViewMoreBtn{
  font-family: "Apple_Gothic_Neo_Mid";
  color: rgb(97, 97, 97);
  width: 50px;
  float: right;
  margin-top: 35px;
  text-align: right;
  margin-right: 15px;
  cursor: pointer;
  transition: all .15s;
}

.ViewMoreBtn:hover{
  color: black;
  font-family: "Apple_Gothic_Neo_Bold";
  transition: all .15s;
}

.MyBodyLabel{
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 18px;
  margin-top: 35px;
}

.MyBodyBackground {
  width: 900px;
  height: 100px;
  background-color: rgba(227, 227, 227, 0.327);
  /* background-color: rgb(218, 240, 248); */
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: left;
}

.MyBodyBackgroundtwo{
  width: 900px;
  height: 100px;
  background-color: rgba(227, 227, 227, 0.327);
  border-radius: 20px;
  margin-bottom: 35px;
  display: flex;
  justify-content: left;

}

.MyBodyItemBox{
  width: 70px;
  margin-left: 50px;
  text-align: center;
  margin-right: 13px;
  margin-top: 2px;
  
}

.MyBodyItemLabel{
  font-family: "Apple_Gothic_Neo_SBold";
  font-size: 17px;
  color: rgb(39, 39, 39);
}



.MyBodyItemDap{
  font-family: "Apple_Gothic_Neo_Mid";
  font-size: 17px;
  margin-top: 12px;
  color: rgb(81, 81, 81);
}

.vLine{
  border-left: 2px solid lightgrey;
  height: 60px;
  margin-left: 35px;
  margin-top: 20px;
}

.WishItemBox {
  padding-top: 20px ;
}

.WarpAllItem {
  display: flex;
  justify-content: left;
  padding-top: 10px;
}




