@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@font-face {
    font-family: "Apple_Gothic_Neo_Bold";
    src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
    font-family: "Apple_Gothic_Neo_Light";
    src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

.a {
    font-family: "Apple_Gothic_Neo_Mid";
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    /* border-bottom: 1px solid rgb(211, 211, 211); */
    transition: color .15s;
    transition: all .15s;
    font-size: 17px;
    margin: 10px 0;
    color: gray;
}

.a:hover {
    color: black;
}

.a div {
  width: 70%;
    display: flex;
    align-items: center;
}

.a div span {
  width: 80%;
}

.a > span {
    color: black;
    font-weight: 600;  
    margin-right: 20px;
}

.img {
    display: inline-block;
    width: 87.5px;
    height: auto;
    border-radius: 8px;
    margin: 0 15px 0 10px;
}

.DelBtn{
    float: right;
    margin-top: -25px;
    color: gray;
    transition: all .15s;
    border: none;
    background-color: transparent;
    font-size: 13px;
    font-family: "Apple_Gothic_Neo_SBold";
    padding-top: 5px;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
    
}

.DelBtn:hover {
    text-decoration: underline;
    color: black;
    /* color: white;
    background-color: black; */
}