@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

.ItemBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.15s;
}

.ItemBox:hover {
  color: rgb(26, 26, 26);
}

.a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: gray;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  transition: color 0.15s;
}

.img {
  display: inline-block;
  width: 210px;
  height: auto;
  border-radius: 8px;
}

.title {
  font-family: "Apple_Gothic_Neo_Mid";
  text-align: left;
  font-size: 13.5px;
  height: 34px;
}

.price {
  font-family: "Apple_Gothic_Neo_Bold";
  display: flex;
  justify-content: left;
  margin-top: 5px;
}
