@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../../fonts/AppleSDGothicNeoL.ttf");
}

.cart {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  transition: all .5s;
}

.h2 {
  font-family: "Apple_Gothic_Neo_Bold";
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 0 15px;
}

.wall {
  width: 100%;
  height: 5px;
  background-color: black;
  border-radius: 2.5px;
}

.ul {
  height: 90%;
  list-style: none;
  padding-left: 0px;
  font-family: "Apple_Gothic_Neo_Light";
  margin: 0;
  overflow-y: auto;
}

.ul li:hover {
  cursor: pointer;
}

.ul::-webkit-scrollbar{
  width: 5px;
  border-radius: 10px;
  /*스크롤바의 너비*/
}


.ul::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 20px;
  /*스크롤바의 색상*/
}

.ul::-webkit-scrollbar-track {
  border-radius: 10px;
  /*스크롤바 트랙 색상*/
}