@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap');

@font-face {
  font-family: "Apple_Gothic_Neo_Hard";
  src: url("../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_SB";
  src: url("../../fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Middle";
  src: url("../../fonts/AppleSDGothicNeoM.ttf");
}

.h1-background {
  margin-top: 80px;
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
}

.h1-background h1 {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  color: black;
  font-family: "Apple_Gothic_Neo_Middle";
  font-size: 55px;
  display: flex;
  align-items: center;
}

.recommend {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

.userInfo {
  display: inline-block;
  height: 50px;
}