@font-face {
  font-family: "Apple_Gothic_Neo_Hard";
  src: url("../../fonts/AppleSDGothicNeoH.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Bold";
  src: url("../../fonts/AppleSDGothicNeoB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_SB";
  src: url("../../fonts/AppleSDGothicNeoSB.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Light";
  src: url("../../fonts/AppleSDGothicNeoL.ttf");
}

@font-face {
  font-family: "Apple_Gothic_Neo_Middle";
  src: url("../../fonts/AppleSDGothicNeoM.ttf");
}

.clothes {
  width: 24%;
  display: inline-block;
  text-decoration: none;
  color: black;
  margin-bottom: 30px;
}

.clothes img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.title {
  font-family: "Apple_Gothic_Neo_Light";
  margin: 15px 0 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.maker {
  font-family: "Apple_Gothic_Neo_Bold";
  color: gray;
  font-size: 14px;
  margin-bottom: 7px;
}

.price {
  font-weight: 500;
  font-size: 18px;
}