.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.loading-pic{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45%;
}

.loading-pic img{
  width: 200px;
  height: auto;
  margin: 5%;
}

.loading-pic img.loading-rotating-pic{
  width: 120px;
  height: auto;
  margin: 5%;
  /* transition: transform 10s;
  transform: rotate(740deg); */
  animation: rotate_image 10s linear infinite;
}

@keyframes rotate_image{
  100%{
    transform: rotate(360deg)
  }
}

.loading-text h1{
  text-align: center;
}