@font-face{
  font-family: "SF_Pro";
  src: url("../../fonts/SF-Pro-Display-Regular.otf");
}


.HomePage{
  top: 50%;
  left: 50%;
  height: auto;
  width: 50vh;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 60px 0 160px;
  align-items: center;
  text-align: center;
}
.HomePage img{
  display: flex;
}
.HomePage p{
  font-family: "SF_Pro";
  font-size: 10px;
}