@font-face{
  font-family: "SF_Pro";
  src: url("../../fonts/SF-Pro-Display-Regular.otf");
}

.section1, .section2, .section3, .section4 {
  height: 100vh;
}

.top {
  position: fixed;
  bottom: 10px;
  right: 10px;
}