.star-type {
    display: none;
}

.star-yellow {
    width: 25px;
    height: 25px;
    transition: color 200ms;
}

.star-gray {
    filter: grayscale(100);
    width: 25px;
    height: 25px;
    transition: color 200ms;
}